@import '../../../assets/styles/variables.styl'

.text {
  color $grey1000
  line-height 1
}


.bold {
  font-weight $bold
}
.medium {
  font-weight $medium
}
.regular {
  font-weight $regular
}

.red {
  color $mainRed
}