.button {
  display inline-block
  text-align center
  white-space nowrap
  vertical-align middle
  user-select none
  height 100%
  border 0
  padding 0
  outline none
  background-color transparent
  border-bottom 2px dashed rgba(0,0,0, .4)
  transition all .15s ease-in-out

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:focus, &:hover {
    border-color transparent
    text-decoration none
    color #D50000
  }
}