@import '../../../assets/styles/variables.styl'

.layer {
  position absolute
  display flex
  align-items center
  transition transform 1s ease-in-out
}

.fadeIn {
  animation fadeIn .5s ease-in-out
  @keyframes fadeIn {
    from { opacity: 0 };
    to { opacity: 1 };
  }
}

.grid {
    background-image -webkit-linear-gradient($grey200 2.5%, transparent 2.5%, transparent 97.5%, $grey200 97.5%), 
    -webkit-linear-gradient(left, $grey200 2.5%, transparent 2.5%, transparent 97.5%, $grey200 97.5%);
}

.outlined {
  outline 2px solid $grey300
}

.dashed {
  outline 2px dashed $grey400
}